/*HEADER*/

.head {
    background-color:rgb(112, 44, 249, 0.1) !important;
    padding-top: 15px;
    
}


.navsotto{
    margin-top: 10px;
}


.navcat{
    
    padding:10px;
}
.navcat:hover {
    background-color: rgb(112, 44, 249) !important;
    color:white;
}

/* BOTTONI */
.cart {
    background-color: rgb(112, 44, 249) !important;
    color: white !important;
    border-color: rgb(112, 44, 249) !important;
    border-width: 2px !important;
}

.cart:hover{
    background-color: white !important;
    color: rgb(112, 44, 249) !important;
    border-color: rgb(112, 44, 249) !important;
}

button {
    background-color: rgb(112, 44, 249) !important;
    color: white !important;
    border-color: rgb(112, 44, 249) !important;
    border-width: 2px !important;
}

button:hover{
    background-color: white !important;
    color: rgb(112, 44, 249) !important;
    border-color: rgb(112, 44, 249) !important;
}

/* FOOTER */

.foot {
    /* position: fixed;
    bottom: 0; */
    padding-bottom: 10px;
    width: 100%;
    background-color: lightgray;
}

.social {
margin-bottom: 15px;
}