*{
  box-sizing: border-box;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 30px;
  }

  .col-cat {
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
  }

  .col-cat:hover{
    transform: scale(1.1);
  }

  .testo-cat p {
    color: white;
  }
  
  .col-pref {
    margin-top: 15px;
    justify-content: center;
    display: flex;
  }

  .imgPromo {
    margin-top: 30px;
    width: 100%;
  }

  .scritta {
    margin-top: 30px;
    text-align: center;
  }

  .sez-consigliati{
    margin-bottom: 30px;
  }

  .testo-cat {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    padding: 12px 6px;
    bottom: 0;
    left: 12px;
    right: 12px;
    font-weight: bold;
  }


 .col-cat a {
  text-decoration: none;
  color: white;
  
}

.spanfoot {
  font-weight: bold;
}

.acquista {
  background-color: rgb(112, 44, 249) !important;
  color: white !important;
  border-color: rgb(112, 44, 249) !important;
  border-width: 2px !important;
  position: relative;
}

.acquista:hover{
  background-color: white !important;
  color: rgb(112, 44, 249) !important;
  border-color: rgb(112, 44, 249) !important;
}

.costo {
  font-weight: bold;
}

.acquista {
    margin-top: 10px; 
    width: 100%; 
  }

  .div-immagine{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 30px;
  }