.titolo{
    text-align: center;
}
.card{
    display: flex;
    margin-bottom: 15px;
   
    border-radius: 10px !important;
}
.card>img{
    width: 400px;
    
    align-self: center;
}
.card>div{
    text-align: center;
    position: relative bottom;
}

.btn-outline-primary:hover {
    background-color: rgb(112, 44, 249) !important;
    color: white !important;
    border-color: rgb(112, 44, 249) !important;
    border-width: 2px !important;
}
input[type="radio"]:checked + .btn-outline-primary{
    background-color: rgb(112, 44, 249) !important;
    color: white !important;
    border-color: rgb(112, 44, 249) !important;
    border-width: 2px !important;
}

input[type="radio"] {
    display: none;
}

.btn-outline-primary {
        background-color: white !important;
    color: rgb(112, 44, 249) !important;
    border-color: rgb(112, 44, 249) !important;
    margin-inline: 5px;
    border-radius: 0px !important; 
}

#gallery{
    margin: 15px;
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap:wrap  !important;
    
   
}
#button{
background-color: aliceblue !important ;
color: black !important;
border-color: black !important;
border-radius: 0% !important;
margin: 1px;

}
#TITOLO{
    text-align: center !important;
}

.schiaccia {
    background-color: black;
    width: 150px;
    border-radius: 10px;

  }
  .filtri{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
 
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

.titolo{
    text-align: center;
}
.card{
    
    display: flex;
    float: left;
    
}
 


#gallery{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}
#button{
background-color: aliceblue !important ;
color: black !important;
border-color: black !important;
border-radius: 0% !important;
margin: 1px;

}
#TITOLO{
    text-align: center !important;
    
}

  
